body { background: #fff; color: #333; font-family: Helvetica, Arial; line-height: 1.33; }

.frontpage { padding-top: 50px; }
.frontpage .header, .frontpage .footer { overflow: hidden; position: absolute; background: white; color: #333; padding: 10px 0; width: 100%; }

.backpage .footer { position: absolute; width: 100%; bottom: 0; padding-bottom: 40px; padding-left: 20px; padding-right: 20px; }

.left { float: left; }

.right { float: right; }

.frontpage, .backpage { position: relative; background-color: #C41FF9; color: #FFF; height: 11.5in; width: 8.5in; }
.frontpage .header, .backpage .header { top: 0; text-align: right; }
.frontpage .footer, .backpage .footer { bottom: 0; }

.cover-title { font-size: 32px; }

.cover-logo { display: block; margin: 0 auto; margin-bottom: 70px; }

.cover-image { position: absolute; bottom: 140px; left: 50%; margin-left: -30%; width: 60%; }

.cover-body { text-align: center; }

*, *:before, *:after { box-sizing: border-box; }

.page { overflow: hidden; padding: 10px; }
.page img { display: block; width: 80%; margin: 0 auto; }

.page-container { height: 100%; overflow: hidden; }

p { padding: 10px; border: 3px solid #ddd; min-height: 100px; }

a, a:visited { text-decoration: underline; }

a[href]:after { content: " (" attr(href) ")"; }

abbr[title]:after { content: " (" attr(title) ")"; }

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

/* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

thead { display: table-header-group; }

/* h5bp.com/t */
tr, img { page-break-inside: avoid; }

img { max-width: 100% !important; }

@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }

h2, h3, .page, .cover { page-break-after: avoid; }

.page { width: 8.5in; height: 6in; }
