<div class="cover backpage">

  <img src="/images/logo.png" alt="" class="cover-logo">

  <div class="cover-body">
    <h2>Made in conjuction with <br> 
    Roy Vernon <br>
    <em>West Wirral Works <br>
    City Learning Centre <br>
    Frankby Road <br>
    West Kirby <br>
    Wirral <br>
    Merseyside <br>
    CH48 6EQ </em></h2>
  </div>

  <div class="footer">
    <div class="left">
      <h2>Follow on Twitter: wwwclc</h2>

      <h2><em>Contact</em> <br>
      RoyVernon@westwirralworks.co.uk</h2>
    </div>

    <img src="/images/kar2ouche_logo.png" alt="" class="kar2ouche_logo right">
  </div>

</div>